<%link_to "List", home_list_path %>

<%= form_tag(home_list_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by name or route" %><br>
  <%= submit_tag "Search" %>
<% end %>
<hr>

<% if @buses.present? %>

  <% @buses.each do |bus| %>
    <div>
      <strong>Name:</strong> <%= bus.name %><br>
      <strong>Registration no:</strong> <%= bus.registration_no %><br>
      <strong>No of Seats:</strong> <%= bus.number_of_seats %><br>
      <strong>Route:</strong> <%= bus.route %>

      <div class="align-right">
        Created At: <%= bus.created_at %>
      </div>

      <%= link_to "Show this bus",bus_path(bus) %> <br>
      <hr>
    </div>
  <% end %>

<% else %>
  <p>No buses available</p>
<% end %>
<hr>

