<h1> Reservations</h1>

<% if @reservations.any? %>
  <ul>
    <% @reservations.each do |reservation|  %>
      <li>
      Reservation on: <%= reservation.bus.name %><br>
      Reservation by: <%= reservation.user.email %><br>
      Reserved seats: <%= reservation.seats %><br>
      Reservation date: <%= reservation.reservation_date %><br>      
     
      <%= link_to "Cancel Reservation", 
      reservation_path(reservation), method: :delete, 
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <hr>
      </li>
    <% end %>
  </ul>
  
<% else %>
  <p>No reservations available</p>
<% end %>


 