<div id="<%= dom_id bus %>">
  <p>
    <strong>Name:</strong>
    <%= bus.name %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= bus.route %>
  </p>

  <div>
     <p>Total Seats: <%= bus.number_of_seats %></p>
     <p>Available Seats: <%= bus.list_of_available_seats %></p>
  </div>

<div class="align-right">
  Created At: <%= bus.created_at %>
  <hr>
</div>

