<p style="color: green"><%= notice %></p>

<%= form_tag(buses_path, method: :get) do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search by name or route" %><br>
  <%= date_field_tag :date, params[:date], placeholder: "Select date" %>
  <%= submit_tag "Search" %>
<% end %>

<hr>

<h1>Buses</h1>

<div class="buses">

  <% if @buses.present? %>

    <% @buses.each do |bus| %>
      <%= render bus %>
    <% end %>

  <% else %>
    <p>No buses available</p>
  <% end %>
  
</div>
