<div class="container mt-4">
  <p style="color: green"><%= notice %></p>

  <%= form_tag(buses_path, method: :get, class: "mb-3") do %>
    <div class="row g-3">
      <div class="col-md-6">
        <%= text_field_tag :search, params[:search], placeholder: "Search by name or route", class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= date_field_tag :date, params[:date], placeholder: "dd-mm-yyyy", min: Date.today, max: "2024-12-31", class: "form-control", id: "reservation_date_input" %>
      </div>
    </div>

    <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
  <% end %>

  <hr>

  <h1>Buses</h1>

  <div class="buses">

    <% if @buses.present? %>

      <% @buses.each do |bus| %>
        <%= render bus %>
      <% end %>

    <% else %>
      <p>No buses available</p>
    <% end %>

  </div>
</div>
