<h1>Bus Details</h1>
<p style="color: green"><%= notice %></p>
<%= render @bus %>

<div>
  <%= link_to "Edit this bus", edit_bus_path(@bus) %> |
  <%= link_to "Back to buses", buses_path %>
 <%= button_to "Destroy this bus", @bus, method: :delete %>
</div>
########-----------------------------------#################
<h2>Available Seats for <%= @bus.name %> on <%= @date %></h2>
<p>Total Seats: <%= @bus.seats %></p>
<p>Reserved Seats: <%= @reservations.sum(:seats) %></p>
<p>Available Seats: <%= @available_seats %></p>
###########----------------------------###################
<h3>Reservations for <%= @bus.name %> on <%= @date %></h3>
<% if @reservations.present? %>
  <ul>
    <% @reservations.each do |reservation| %>
      <li>
        Reservation by: <%= reservation.user.email %><br>
        Reserved seats: <%= reservation.seats %><br>
        Reservation date: <%= reservation.reservation_date %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No reservations for this bus on the selected date.</p>
<% end %>
<%= form_for [@bus, @reservation], url: create_reservation_bus_path(@bus, date: @date), method: :post do |f| %>
  <%= f.label :seats, "Number of Seats to Book" %>
  <%= f.number_field :seats, min: 1, max: @available_seats %>
  <%= f.submit "Book Seats" %>
<% end %>
